<div class="container">
  <div class="row">
    <div class="col-md-12 forgotpassword_card">
      <div class="container_forgotpassword">
        <p class="container_forgotpassword-header">TODO APP</p>
        <p class="container_forgotpassword-info">Forgot your password?</p>
        <p class="container_forgotpassword-text">
          Enter your registered email below to receive code!
        </p>
        <form
          class="container_forgotpassword-form"
          [formGroup]="forgotpasswordForm"
          (ngSubmit)="submit()"
        >
          <div class="form-group form__group">
            <label class="field_label" htmlFor="email">Email</label><br />
            <fa-icon [icon]="faEnvelope" class="left-icon"></fa-icon>
            <fa-icon
              [icon]="faTimes"
              class="right-icon-invalid"
              *ngIf="form['email'].invalid && form['email'].touched"
            ></fa-icon>
            <fa-icon
              [icon]="faCheck"
              class="right-icon-success"
              *ngIf="form['email'].valid"
            ></fa-icon>
            <input
              [class.is-invalid]="
                forgotpasswordForm.get('email')!.invalid &&
                forgotpasswordForm.get('email')!.touched
              "
              class="form-control"
              type="email"
              name="email"
              id="email"
              autoComplete="off"
              required
              formControlName="email"
              pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
              placeholder="example@example.com"
            />

            <div *ngIf="form['email'].invalid && form['email'].touched">
              <small
                class="text-danger"
                *ngIf="form['email'].errors && form['email'].errors['required']"
                >Email is required</small
              >
              <small
                class="text-danger"
                *ngIf="form['email'].errors && form['email'].errors['pattern']"
                >Invalid Pattern</small
              >
            </div>
          </div>

          <!-- <button class="login_btn">Login</button> -->
          <app-button
            width="405px"
            text="Send"
            (btnClick)="openDialog()"
            [disabled]="forgotpasswordForm.invalid"
          ></app-button>
        </form>
      </div>
      <div class="container_login_image">
        <img
          src="../../../assets/images/Forgot password.svg"
          alt="signin-image"
          class="login_image"
        />
      </div>
    </div>
  </div>
</div>
