<div class="container">
  <div class="row">
    <div class="col-md-12 forgotpassword-card">
      <div class="container-forgotpassword">
        <p class="container-forgotpassword-header">TODO APP</p>
        <p class="container-forgotpassword-info">Forgot your password?</p>
        <p class="container-forgotpassword-text">
          Enter your registered email below to receive code!
        </p>
        <form
          class="container-forgotpassword-form"
          [formGroup]="forgotPasswordForm"
          (ngSubmit)="submit()"
        >
          <div class="form-group form-group">
            <label class="field-label" htmlFor="email">Email</label><br />
            <fa-icon [icon]="faEnvelope" class="left-icon"></fa-icon>
            <fa-icon
              [icon]="faExclamationCircle"
              class="right-icon-invalid"
              *ngIf="
                emailFormControl['email'].invalid &&
                emailFormControl['email'].touched
              "
            ></fa-icon>
            <fa-icon
              [icon]="faCheck"
              class="right-icon-success"
              *ngIf="emailFormControl['email'].valid"
            ></fa-icon>
            <input
              [class.is-invalid]="
                forgotPasswordForm.get('email')!.invalid &&
                forgotPasswordForm.get('email')!.touched
              "
              class="form-control"
              type="email"
              name="email"
              id="email"
              autoComplete="off"
              required
              formControlName="email"
              placeholder="example@example.com"
            />

            <div
              *ngIf="
                emailFormControl['email'].invalid &&
                emailFormControl['email'].touched
              "
            >
              <small
                class="error-message"
                *ngIf="
                  emailFormControl['email'].errors &&
                  emailFormControl['email'].errors['required']
                "
                ><i class="fas fa-exclamation-circle"></i>Email is
                required</small
              >
              <small
                class="error-message"
                *ngIf="
                  emailFormControl['email'].errors &&
                  emailFormControl['email'].errors['email']
                "
                ><i class="fas fa-exclamation-circle"></i>Invalid Pattern</small
              >
            </div>
          </div>
          <app-button
            width="405px"
            text="Send"
            (btnClick)="openDialog()"
            [disabled]="forgotPasswordForm.invalid"
          ></app-button>
        </form>
      </div>
      <div class="container-login-image">
        <img
          src="../../../assets/images/Forgot password.svg"
          alt="signin-image"
          class="login-image"
        />
      </div>
    </div>
  </div>
</div>
