<div class="wrapper">
  <div class="menu py-2">
    <p class="list-header">
      {{ list }}<span>{{ tasks.length }}</span>
    </p>
    <mat-icon (click)="collapsed = !collapsed"
      >{{ collapsed ? "expand_more" : "expand_less" }}
    </mat-icon>
  </div>
  <div class="list-tasks" *ngIf="!collapsed">
    <div class="message" *ngIf="this.tasks.length === 0; else elseBlock">
      No tasks to display
    </div>
    <ng-template #elseBlock>
      <div class="task" *ngFor="let task of tasks">
        <div class="task-title">
          <span (click)="deleteTask(task)"></span>
          <p class="text">{{ task.task }}</p>
        </div>
        <div class="{{ task.priority }}">{{ task.priority }}</div>
        <div class="date-time">
          {{ task.date | date: "dd MMMM yyyy, h:mm a" }}
        </div>
      </div>
    </ng-template>
  </div>
  <div class="border-line"></div>
</div>
