<div class="_logout">
  <button mat-raised-button color="accent" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
    LogOut
  </button>
</div>
<div class="row mt-5">
  <div class="col-md-4 text-center todos">
    <app-add-todo (todoAdd)="AddTodo($event)"></app-add-todo>
  </div>
  <div class="col-md-4 todos-list" [@listAnimation]="todos.length">
    <h2>Your Todos</h2>
    <div *ngFor="let todo of todos">
      <app-todo-item
        [todo]="todo"
        (todoDelete)="deleteTodo($event)"
        (toggleTodo)="onToggleTodo(todo)"
      >
      </app-todo-item>
    </div>
  </div>
</div>
