$light-beige: #f2d4aa;

h2 {
  text-align: center;
}

.add {
  width: 500px;
  align-items: center;
  margin-left: 400px;
  background-color: $light-beige;
}

.add-list {
  width: 450px;
  margin-left: 400px;
}
