<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <form class="register-form" [formGroup]="registerForm">
                <div class="form-group">
                    <label for="username">UserName</label>
                    <input type="text"
                        [class.is-invalid]="registerForm.get('username')!.invalid && registerForm.get('username')!.touched"
                        id="username" name="username" formControlName="username" class="form-control">
                    <!-- <div [class.d-none]="registerForm.get('username')!.valid || registerForm.get('username')!.untouched"
                        class="alert alert-danger">Username is required</div> -->
                    <!-- <div *ngIf="registerForm.get('username').hasError['required']" class="alert alert-danger">Username
                        is
                        required</div> -->

                    <div *ngIf="f['username'].invalid && f['username'].touched">
                        <small class="text-danger"
                            *ngIf="f['username'].errors && f['username'].errors['required']">Username is
                            required</small>
                        <small class="text-danger"
                            *ngIf="f['username'].errors && f['username'].errors['forbiddenName']">
                            '{{f['username'].errors['forbiddenName'].value}}'
                            username
                            not allowed</small>
                    </div>
                </div>
                <div formGroupName="address">
                    <div class="form-group">
                        <label for="City">City</label>
                        <input type="text" id="username" name="city" formControlName="city" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Postal">Postal</label>
                        <input type="text" id="postal" name="postal" formControlName="postal" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" id="state" name="state" formControlName="state" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" id="password" name="password" formControlName="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="text" id="confirmpassword"
                        [class.is-invalid]="registerForm.get('confirmpassword')!.errors" name="confirmpassword"
                        formControlName="confirmpassword" class="form-control">
                    <!-- <div class="text-danger">
                        Passwords
                        do not match</div> -->
                </div>
                <button class="mt-3" mat-raised-button color="accent">Submit</button>
            </form>
            {{registerForm.value | json }}
        </div>
    </div>
</div>