<div class="wrapper">
  <div class="menu py-2">
    <p class="list_header">
      {{ list }}<span>{{ tasks.length }}</span>
    </p>
    <mat-icon (click)="collapsed = !collapsed">{{
      collapsed ? "expand_more" : "expand_less"
    }}</mat-icon>
  </div>
  <div class="list_tasks" *ngIf="!collapsed">
    <div class="task" *ngFor="let task of tasks">
      <p class="task_title">
        <span (click)="deleteTask(task)"></span>{{ task.task }}
      </p>
      <div class="{{ task.priority }}">{{ task.priority }}</div>
      <div class="date_time">{{ task.date | date: "dd MMMM yyyy" }}</div>
    </div>
    <div class="border_line"></div>
  </div>
</div>
