<div class="main">
  <div class="main-container">
    <header class="main-header">
      <nav class="container">
        <div class="logo">TODO APP</div>
        <div class="nav-items">
          <div class="profile-icon">AB</div>
          <div class="logout" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>Logout
          </div>
        </div>
      </nav>
    </header>
    <div class="container menu-overview">
      <div class="date">
        <p class="date-date">{{ current_date | date: "dd MMMM yyyy" }}</p>
        <p class="date-text">
          You have to keep up the pace to accomplish your task in time<i
            class="far fa-clock"
          ></i>
        </p>
      </div>
      <div class="button">
        <app-button
          text="Create new task"
          width="196px"
          (btnClick)="openAddTask()"
        ></app-button>
      </div>
    </div>
    <div class="container main-overview">
      <p class="header-text">Overview</p>
      <div class="data-container row row-3">
        <div class="data col m-3">
          <img
            src="../../../assets/images/today.svg"
            alt=""
            class="icon-image"
          />
          <div class="counts">
            <p class="data-header">Today's tasks</p>
            <p class="data-count">
              {{ countTodaysTask }}
            </p>
          </div>
        </div>
        <div class="data col m-3">
          <img
            src="../../../assets/images/upcoming.svg"
            alt=""
            class="icon-image"
          />
          <div class="counts">
            <p class="data-header">Upcoming tasks</p>
            <p class="data-count">{{ countUpcomingTask }}</p>
          </div>
        </div>
        <div class="data col m-3">
          <img
            src="../../../assets/images/overdue.svg"
            alt=""
            class="icon-image"
          />
          <div class="counts">
            <p class="data-header">Overdue tasks</p>
            <p class="data-count">{{ countOverdueTask }}</p>
          </div>
        </div>
      </div>
    </div>
    <section class="container">
      <div class="row">
        <div class="col-md-5">
          <p class="task-header">
            Today's Tasks <span class="task-count">{{ countTodaysTask }}</span>

            <span *ngIf="isLoading" class="spinner">
              <mat-spinner [diameter]="25"></mat-spinner>
            </span>
          </p>
          <div class="list-tasks">
            <app-task [todaysTask]="todaysTask">
              <span *ngIf="isLoading" class="spinner">
                <mat-spinner [diameter]="25"></mat-spinner>
              </span>
            </app-task>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
          <div class="list-menu">
            <p class="list-header">
              List names
              <span *ngIf="isLoading" class="spinner">
                <mat-spinner [diameter]="25"></mat-spinner>
              </span>
            </p>
            <p class="button">
              <app-button
                text="Create new list"
                width="200px"
                (btnClick)="openAddList()"
                background="#fff"
                color="#BE263B"
                padding="8px 10px"
                border="1px solid #BE263B"
              ></app-button>
            </p>
          </div>

          <div class="message" *ngIf="this.lists.length === 0; else elseBlock">
            No lists to display
          </div>
          <ng-template #elseBlock>
            <div class="list-names-container mt-2">
              <app-list
                *ngFor="let list of lists"
                [list]="list.list"
              ></app-list>
            </div>
          </ng-template>
        </div>
      </div>
    </section>
  </div>
</div>
