<div class="todo-item" [ngClass]="{priority : todo.priority}" (dblclick)="onToggle(todo)">
  <h2>
    <strong>{{ todo.title }}</strong><i class="fa fa-trash fa" (click)="onClick(todo)" [ngStyle]="{ color: 'brown' }"
      aria-hidden="true"></i>
  </h2>
  <p>{{ todo.day | date}}</p>
  <p>{{todo.priority}}</p>
  <p>{{todo.time | date:"hh:mm"}}</p>
  <!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" id="form-check--flexCheckDefault" (click)="onCheckboxClick(todo)"
      [checked]="!todo.active" />
    <label class="form-check-label" for="flexCheckDefault"> Done </label>
  </div> -->
</div>