<div class="todo">
  <h2>
    <strong [ngClass]="{ strike: !todo.active }">{{ todo.title }}</strong><i class="fa fa-trash fa"
      (click)="onClick(todo)" [ngStyle]="{ color: 'brown' }" aria-hidden="true"></i>
  </h2>
  <p>{{ todo.day }}</p>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="flexCheckDefault" (click)="onCheckboxClick(todo)"
      [checked]="!todo.active" />
    <label class="form-check-label" for="flexCheckDefault"> Done </label>
  </div>
</div>
