.strike {
	text-decoration: line-through;
}

.form-check {
	display: flex;
}

.form-check-label {
	margin-left: 5px;
}

.todo {
	background: #f8ecd5;
	margin: 5px;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 10px;
}

.todo {
	h2 {
		display: flex;
		color: brown;
		line-height: 1.5;
		font-weight: 0.2;
		align-items: center;
		justify-content: space-between;

		i {
			margin-top: 4px;
		}
	}

	p {
		color: #6d440f;
		font-size: 18px;
		font-weight: 300;
	}
}
