@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 21px 40px;

  border-bottom: 1px solid #e0e0e0;

  &:last-child {
    animation-name: item-entry-animation;
    animation-duration: 0.3s;
    animation-timing-function: fade-in;
  }

  @keyframes item-entry-animation {
    0% {
      transform: scale(0.5, 0);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .task_check {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
    .check {
      width: 24px;
      height: 24px;
      border: 1px solid $primary-color;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #eb5757;
      }
    }

    .task_features {
      padding-left: 40px;

      .task_header {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        margin-bottom: 4px;
      }
      .task_list {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #828282;
      }
    }
  }

  .High {
    font-size: 14px;
    color: #eb5757;
    @include fontstyles;
    background: rgba(235, 87, 87, 0.05);
    border-radius: 5px;
    padding: 6px 12px;
  }

  .Medium {
    font-size: 14px;
    @include fontstyles;
    color: #219653;
    background: rgba(33, 150, 83, 0.05);
    border-radius: 5px;
    padding: 6px 12px;
  }
  .Low {
    font-size: 14px;
    @include fontstyles;
    color: #f2994a;
    background: rgba(242, 153, 74, 0.05);
    border-radius: 5px;
    padding: 6px 12px;
  }
}
