<div class="task" *ngIf="this.todaysTask.length === 0; else elseBlock">
  <p>No task to display</p>
</div>

<ng-template #elseBlock>
  <div class="task" *ngFor="let task of todaysTask">
    <div class="task_check">
      <div class="check" (click)="deleteTask(task)">
        <div class="task_features">
          <p class="task_header">{{ task.task }}</p>
          <p class="task_list">{{ task.list }}</p>
        </div>
      </div>
    </div>
    <p class="{{ task.priority }}">{{ task.priority }}</p>
  </div>
</ng-template>
