<nav>
  <div class="navbar">
    <a class="logo"
      ><i class="far fa-list-alt fa-2x"></i>&nbsp;&nbsp;Todo-App</a
    >
    <ul class="nav-items">
      <li class="nav-link"><a routerLink="/">Home</a></li>
      <li class="nav-link"><a routerLink="/register">Register</a></li>
      <li class="nav-link"><a routerLink="/login">Login</a></li>
      <li class="nav-link"><a routerLink="/contact">Contact-Us</a></li>
      <li class="nav-link"><a routerLink="/set-password">Set Password</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
