@import "variables";

@mixin card_body() {
  position: absolute;
  left: 200px;
  top: 50px;
  padding: 24px;
  box-shadow: 0px 16px 16px #e4e3e3, 0px 24px 32px #eceaea;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
}

@mixin side_form() {
  flex: 0.7;
}

@mixin button() {
  background-color: $primary-color;
  border-radius: 8px;
  border: none;
  padding: 15px 32px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  margin: 4px 2px;
  font-weight: 500;
  line-height: 21px;
}

@mixin fontstyles() {
  font-family: Roboto;
  font-style: normal;
}

@mixin side_image() {
  flex: 0.3;
  width: 100%;
  margin-top: 180px;
}

@mixin form_header() {
  color: $primary-color;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.2em;
}

@mixin form_header_info {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

@mixin form_header_text {
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: #828282;
}

@mixin form_group {
  width: 100%;
  margin-bottom: 3px;
  padding: 10px 0px;
}

@mixin form_control {
  width: 90%;
  padding: 12px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

@mixin field_label {
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
  padding: 3px;
}

@mixin form_query {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  padding: 7px;
}

@mixin icon-button {
  position: absolute;
  cursor: pointer;
  margin-left: 370px;
  padding: 10px;
  font-size: 18px;
}

@mixin icon-button-password {
  position: absolute;
  cursor: pointer;
  margin-left: 270px;
  padding: 12px;
  font-size: 18px;
}
