$light-beige: #f8ecd5;
$dark-beige: #4d2216;
$button: rgb(224, 180, 113);
$button: rgb(180, 116, 74);
$light-pink: #eb92ba;
$primary-color: #be263b;
$text-color: #828282;
$high-priority: #eb5757;
$medium-priority: #219653;
$low-priority: #f2994a;
$black: #333333;
$border-color: #e0e0e0;
$white: #ffffff;
