<div class="container">
  <div class="row">
    <div class="col-md-12 login_card">
      <div class="container_login">
        <p class="container_login-header">TODO APP</p>
        <p class="container_login-info">Login to your account</p>
        <p class="container_login-text">
          Welcome back !Please login to your account
        </p>
        <form
          class="container_login-form"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
        >
          <!-- <div class="form-group">
            <label for="username">UserName</label>
            <input
              type="text"
              [class.is-invalid]="
                loginForm.get('username')!.invalid &&
                loginForm.get('username')!.touched
              "
              id="username"
              name="username"
              formControlName="username"
              class="form-control"
            />

            <div *ngIf="form['username'].invalid && form['username'].touched">
              <small
                class="text-danger"
                *ngIf="
                  form['username'].errors && form['username'].errors['required']
                "
                >Username is required</small
              >
            </div>
          </div> -->

          <div class="form-group form__group">
            <label class="field_label" htmlFor="username">Username</label><br />
            <fa-icon [icon]="faEnvelope" class="left-icon"></fa-icon>
            <input
              [class.is-invalid]="
                loginForm.get('username')!.invalid &&
                loginForm.get('username')!.touched
              "
              class="form-control"
              type="username"
              name="username"
              id="username"
              autoComplete="off"
              required
              formControlName="username"
              placeholder="Your Username"
            />
            <fa-icon
              [icon]="faTimes"
              class="right-icon"
              *ngIf="submitted && loginForm.invalid"
            ></fa-icon>
            <fa-icon
              [icon]="faCheck"
              class="right-icon right-icon-sucess"
              *ngIf="loginForm.invalid && form['username'].valid"
            ></fa-icon>

            <div *ngIf="form['username'].invalid && form['username'].touched">
              <small
                class="text-danger"
                *ngIf="
                  form['username'].errors && form['username'].errors['required']
                "
                >Username is required</small
              >
            </div>
          </div>

          <div class="form-group form__group">
            <label class="field_label" htmlFor="password">Password</label><br />
            <i class="material-icons left-icon">key</i>
            <input
              type="password"
              id="password"
              name="password"
              formControlName="password"
              class="form-control"
              placeholder="Your Password"
              [class.is-invalid]="
                loginForm.get('password')!.invalid &&
                loginForm.get('password')!.touched
              "
            />
            <fa-icon
              [icon]="!showpassword ? faEyeSlash : faEye"
              class="password-icon"
              (click)="showhidePassword()"
            ></fa-icon>

            <div *ngIf="form['password'].invalid && form['password'].touched">
              <small
                class="text-danger"
                *ngIf="
                  form['password'].errors && form['password'].errors['required']
                "
                >Password is required</small
              >
            </div>
            <div class="forgot_password">
              <span class="forgot__password" routerLink="#">
                Forgot password?</span
              ><br />
            </div>
          </div>
          <button class="login_btn">Login</button>
          <div class="new_user">
            <span> Not Registered yet?</span
            ><span class="create_account" routerLink="/register"
              >Create new account</span
            >
          </div>
        </form>
      </div>
      <div class="container_login_image">
        <img
          src="../../../assets/images/To do list-amico 1.png"
          alt="signin-image"
          class="login_image"
        />
      </div>
    </div>
  </div>
</div>
