@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

.login-card {
  @include card-body;
  height: 560px;
  width: 780px;
}

.container-login {
  @include side-form;
  &-header {
    @include fontstyles;
    @include form-header;
  }
  &-info {
    @include form-header-info;
    @include fontstyles;
  }
  &-text {
    @include fontstyles;
    @include form-header-text;
  }
  &-form {
    .form-group {
      @include form-group;
    }
    .left-icon {
      position: absolute;
      padding: 10px;
    }
    .right-icon {
      @include icon-button;
      color: $text-color;
    }
    .right-icon-success {
      @include icon-button;
      color: green;
    }
    .right-icon-invalid {
      @include icon-button;
      color: red;
      padding-left: 20px;
    }
    .form-control {
      @include form-control;
    }
    .field-label {
      @include field-label;
    }
    .forgot-password {
      color: $primary-color;
      cursor: pointer;
      padding: 4px;
      text-align: right;
      width: 90%;
    }
    .error-message {
      color: $primary-color;
      font-size: 13px;
      line-height: 21px;
      padding: 7px;

      i {
        padding: 5px;
      }
    }
    .new-user {
      @include form-query;
      .create-account {
        color: $primary-color;

        cursor: pointer;
        padding: 3px;
      }
    }
  }
}

.container-login-image {
  @include side-image;
}

@media only screen and (max-width: 767px) {
  .login-card {
    flex-direction: column;
    left: auto;
    top: auto;
  }
  .container-login-image {
    display: none;
  }
  .right-icon {
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    padding-left: 720px;
    padding: 10px;
  }
}
