<div class="container">
  <div class="row">
    <div class="col-md-12 login_card">
      <div class="container_login">
        <p class="container_login-header">TODO APP</p>
        <p class="container_login-info">Login to your account</p>
        <p class="container_login-text">
          Welcome back !Please login to your account
        </p>
        <form
          class="container_login-form"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
        >
          <div class="form-group form__group">
            <label class="field_label" htmlFor="email">Email</label><br />
            <fa-icon [icon]="faEnvelope" class="left-icon"></fa-icon>
            <fa-icon
              [icon]="faExclamationCircle"
              class="right-icon-invalid"
              *ngIf="
                loginFormControl['email'].invalid &&
                loginFormControl['email'].touched
              "
            ></fa-icon>
            <fa-icon
              [icon]="faCheck"
              class="right-icon-success"
              *ngIf="loginForm.invalid && loginFormControl['email'].valid"
            ></fa-icon>
            <input
              [class.is-invalid]="
                loginForm.get('email')!.invalid &&
                loginForm.get('email')!.touched
              "
              class="form-control"
              type="email"
              name="email"
              id="email"
              autoComplete="off"
              required
              formControlName="email"
              pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
              placeholder="example@example.com"
            />

            <div
              *ngIf="
                loginFormControl['email'].invalid &&
                loginFormControl['email'].touched
              "
            >
              <small
                class="error-message"
                *ngIf="
                  loginFormControl['email'].errors &&
                  loginFormControl['email'].errors['required']
                "
              >
                <i class="fas fa-exclamation-circle"></i>Email is
                required</small
              >
              <small
                class="error-message"
                *ngIf="
                  loginFormControl['email'].errors &&
                  loginFormControl['email'].errors['pattern']
                "
                ><i class="fas fa-exclamation-circle"></i>Invalid Pattern</small
              >
            </div>
          </div>

          <div class="form-group form__group">
            <label class="field_label" htmlFor="password">Password</label><br />
            <i class="material-icons left-icon">key</i>
            <fa-icon
              [icon]="!showPassword ? faEyeSlash : faEye"
              class="right-icon"
              (click)="showhidePassword()"
            ></fa-icon>
            <input
              [class.is-invalid]="
                loginForm.get('password')!.invalid &&
                loginForm.get('password')!.touched
              "
              type="password"
              id="password"
              name="password"
              formControlName="password"
              class="form-control"
              placeholder="Your Password"
            />
            <div
              *ngIf="
                loginFormControl['password'].invalid &&
                loginFormControl['password'].touched
              "
            >
              <small
                class="error-message"
                *ngIf="
                  loginFormControl['password'].errors &&
                  loginFormControl['password'].errors['required']
                "
                ><i class="fas fa-exclamation-circle"></i>Password is
                required</small
              >
            </div>
            <div class="forgot_password">
              <span class="forgot__password" routerLink="/forgot-password">
                Forgot password?</span
              ><br />
            </div>
          </div>
          <!-- <button class="login_btn">Login</button> -->
          <app-button
            text="Login"
            (btnClick)="submitButton()"
            [disabled]="loginForm.invalid"
          ></app-button>

          <div class="new_user">
            <span> Not Registered yet?</span
            ><span class="create_account" routerLink="/signup"
              >Create new account</span
            >
          </div>
        </form>
      </div>
      <div class="container_login_image">
        <img
          src="../../../assets/images/To do list-amico 1.png"
          alt="signin-image"
          class="login_image"
        />
      </div>
    </div>
  </div>
</div>
