@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";
.wrapper {
  padding: 5px 10px;
}
.container-header {
  @include fontstyles;
  display: flex;
  font-weight: 500;
  font-size: 24px;
  justify-content: space-between;
  line-height: 32px;
}

.close-icon {
  color: $black;
  cursor: pointer;
}

.add-task-form {
  ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -5px;
  }

  .field-label {
    @include field-label;
    padding: 6px;
  }

  .task-features {
    display: flex;
    flex-direction: row;

    ::ng-deep .mat-form-field-wrapper {
      mat-select {
        margin-bottom: -8px;
      }
    }

    .form-control {
      text-align: center;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
  }
  .error-message {
    color: $primary-color;
    font-size: 13px;
    line-height: 21px;
    i {
      padding: 2px;
    }
  }
  .warning {
    color: $primary-color;
    font-size: 13px;
    line-height: 21px;
    padding-top: 15px;
    padding-right: 150px;
  }
}
