@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";
.wrapper {
  padding: 5px 10px;
}
.container_header {
  @include fontstyles;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
}

.add_task_form {
  .form__group {
    @include form_group;
  }

  .form_control {
    @include form_control;
  }

  .field_label {
    @include field_label;
    padding: 6px;
  }

  .task_features {
    display: flex;
    flex-direction: row;

    .form-control {
      text-align: center;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row-reverse;
  }
  .error-message {
    color: $red;
    font-size: 13px;
    line-height: 21px;
    i {
      padding: 2px;
    }
  }
  .errormsg {
    color: $red;
    font-size: 13px;
    line-height: 21px;
    padding-right: 150px;
  }
}
