<div class="wrapper">
  <div class="row">
    <div class="col container-header">
      <p>Create list</p>
      <mat-icon class="close-icon" (click)="closeAddList()">close</mat-icon>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form [formGroup]="addListForm" class="add-list-form">
        <div class="row">
          <label class="field-label">List name</label><br />
          <mat-form-field appearance="outline" floatLabel="never">
            <input
              matInput
              name="list"
              placeholder="Enter list name"
              formControlName="list"
            />
          </mat-form-field>
          <div
            *ngIf="
              createListControl['list'].invalid &&
              createListControl['list'].touched
            "
            class="error-message"
          >
            <div
              *ngIf="
                createListControl['list'].errors &&
                createListControl['list'].errors['required']
              "
            >
              <i class="fas fa-exclamation-circle"></i>List name is required
            </div>
          </div>
        </div>

        <div class="buttons">
          <app-button
            text="Cancel"
            width="144px"
            background="#fff"
            color="#BE263B"
            border="1px solid #BE263B"
            (btnClick)="closeAddList()"
          ></app-button>
          <app-button
            text="Add List"
            width="144px"
            [disabled]="addListForm.invalid"
            (btnClick)="addList()"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
