@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";
.wrapper {
  padding: 5px 10px;
}
.container_header {
  @include fontstyles;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
}

.add_list_form {
  .form__group {
    @include form_group;
  }

  .form_control {
    @include form_control;
    padding: 20px;
  }

  .field_label {
    @include field_label;
    padding: 10px;
  }
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
}

.dropdown-toggle {
  border: solid grey 2px;
}
