@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";
.wrapper {
  padding: 5px 10px;
}
.container-header {
  @include fontstyles;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.close-icon {
  color: $black;
  cursor: pointer;
}

.add-list-form {
  ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -8px;
  }

  .field-label {
    @include field-label;
    padding: 10px;
  }

  .error-message {
    color: $primary-color;
    font-size: 13px;
    line-height: 21px;
    i {
      padding: 2px;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
}
