@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

.password_card {
  @include card_body;
  width: 768px;
  height: 628px;
}

.container_password {
  @include side_form;

  &-header {
    @include fontstyles;
    @include form_header;
  }

  &-info {
    @include form_header_info;
    @include fontstyles;
  }

  &-text {
    @include fontstyles;
    @include form_header_text;
  }

  &-form {
    .form__group {
      @include form_group;
    }

    .left-icon {
      position: absolute;
      padding: 10px;
    }

    .right-icon {
      @include icon-button;
      color: $text-color;
    }

    .right-icon-success {
      @include icon-button;
      color: green;
    }

    .right-icon-invalid {
      @include icon-button;
      color: red;
    }

    .password-icon {
      @include icon-button-password;
    }

    .form-control {
      @include form_control;
      color: $text-color;
    }

    .gender-option {
      display: flex;
      width: 80%;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      font-size: 16px;

      .form-check-input {
        color: $red;
      }
    }

    .form-select {
      margin-top: 15px;
    }

    .field_label {
      @include field_label;
    }

    .error-message {
      color: $red;
      padding: 4px;
      font-size: 13px;
      line-height: 21px;
      i {
        padding: 3px;
      }
    }
    .error-message-pattern {
      color: green;
      padding: 4px;
      font-size: 13px;
      line-height: 21px;
      i {
        padding: 3px;
      }
    }
    .forgot_password {
      text-align: right;
      width: 90%;
      padding: 4px;
      color: $red;
      cursor: pointer;
    }

    .new_user {
      @include form_query;

      .create_account {
        color: $red;
        padding: 3px;
        cursor: pointer;
      }
    }
  }
}

.container_password_image {
  @include side_image;
}
