@import "navbar";
@import "colors";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.section {
    background-color: $background;

    &_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        padding-right: 24px;
        padding-left: 24px;

        @include tablet {
            grid-template-columns: 1fr;
            height: 100%;
        }

        &_left {
            width: 100%;
            line-height: 1.2;

            @include tablet {
                padding: 5rem 0;
            }

            @include mobile {
                line-height: 1.5;
            }
        }

        &_left h1 {
            font-size: 4 rem;
            color: $dark-brown;

            @include mobile {
                font-size: 2rem;
            }
        }
        &_left h3 {
            font-size: 4 rem;
            color: $dark-brown;

            @include mobile {
                font-size: 2rem;
            }
        }
        &_left p {
            font-size: 2 rem;
            font-weight: 400;
            color: $dark-brown;
            margin-top: 1rem;
            @include mobile {
                font-size: 2rem;
            }
        }
        &_btn {
            background-color: bisque;
            padding: 14px 32px;
            border: none;
            border-radius: 4px;
            color: $dark-brown;
            cursor: pointer;
            position: relative;
            transition: all 0.3s;
            outline: none;
            margin-top: 5px;
            font-weight: 800;
        }

        &_btn a {
            position: relative;
            text-decoration: none;
            z-index: 2;
            color: $dark-brown;
            font-size: 1 rem;

            .fa-arrow-right {
                margin-left: 7px;
            }
        }

        &_btn:hover {
            background-color: beige;
            color: $dark-brown;
        }

        &_right {
            text-align: center;
        }

        &_img {
            height: 500px;
            width: 100%;
            padding: 10px;
            border-radius: 20px;
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
        }
    }
}

.section-2 {
    background-color: beige;

    .container {
        h3 {
            text-align: center;
            padding: 10px;
            font-size: 1.2 rem;
            font-weight: 600;
            color: $dark-brown;
        }
        &_blog_image {
            padding: 10px;
            margin: 4px;
            height: auto;
            width: 100%;
            border: 5px solid beige;
        }

        &_blog_1 {
            padding: 10px;
            margin-top: 30px;
            height: auto;
            width: 100%;
            color: $dark-brown;
            font-weight: 400;
            background-color: rgb(250, 243, 234);
        }
    }
}

.footer {
    background-color: $background;
    height: 150px;

    .container {
        margin-bottom: 10px;
    }

    h3 {
        padding: 5px;
    }

    #location {
        padding: 5px;
        margin-top: 10px;
    }

    #services {
        padding: 5px;
        margin-top: 10px;

        li {
            list-style: none;
        }
    }

    #contact {
        padding: 5px;
        margin-top: 10px;

        li {
            list-style: none;
        }
    }

    .copyright {
        text-align: center;
    }
}
