.navbar__logo, .navbar_menu, .navbar_menu_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background-color: #f0ac78;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5 rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}

.navbar__logo {
  color: #b04f31;
  cursor: pointer;
  text-decoration: none;
  font-size: 2 rem;
  font-weight: 900;
  margin-left: 25px;
}

.navbar_bars {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .navbar_bars {
    color: #b04f31;
    position: absolute;
    opacity: 1;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}

.navbar_menu {
  list-style: none;
  text-align: center;
  margin-right: 25px;
}

@media screen and (max-width: 768px) {
  .navbar_menu {
    display: none;
  }
}

.navbar_menu_link {
  color: #b04f31;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  font-weight: 400;
}

.navbar_menu_link:hover {
  color: #fff;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.navbar_menu #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #b04f31;
  margin-left: 16px;
  color: bisque;
}

.navbar_menu #button:hover {
  background-color: beige;
  color: #b04f31;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.section {
  background-color: #f7d599;
}

.section_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 768px) {
  .section_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
}

.section_container_left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .section_container_left {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 280px) {
  .section_container_left {
    line-height: 1.5;
  }
}

.section_container_left h1 {
  font-size: 4 rem;
  color: #b04f31;
}

@media screen and (max-width: 280px) {
  .section_container_left h1 {
    font-size: 2rem;
  }
}

.section_container_left h3 {
  font-size: 4 rem;
  color: #b04f31;
}

@media screen and (max-width: 280px) {
  .section_container_left h3 {
    font-size: 2rem;
  }
}

.section_container_left p {
  font-size: 2 rem;
  font-weight: 400;
  color: #b04f31;
  margin-top: 1rem;
}

@media screen and (max-width: 280px) {
  .section_container_left p {
    font-size: 2rem;
  }
}

.section_container_btn {
  background-color: bisque;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #b04f31;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  margin-top: 5px;
  font-weight: 800;
}

.section_container_btn a {
  position: relative;
  text-decoration: none;
  z-index: 2;
  color: #b04f31;
  font-size: 1 rem;
}

.section_container_btn a .fa-arrow-right {
  margin-left: 7px;
}

.section_container_btn:hover {
  background-color: beige;
  color: #b04f31;
}

.section_container_right {
  text-align: center;
}

.section_container_img {
  height: 500px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.section-2 {
  background-color: beige;
}

.section-2 .container h3 {
  text-align: center;
  padding: 10px;
  font-size: 1.2 rem;
  font-weight: 600;
  color: #b04f31;
}

.section-2 .container_blog_image {
  padding: 10px;
  margin: 4px;
  height: auto;
  width: 100%;
  border: 5px solid beige;
}

.section-2 .container_blog_1 {
  padding: 10px;
  margin-top: 30px;
  height: auto;
  width: 100%;
  color: #b04f31;
  font-weight: 400;
  background-color: #faf3ea;
}

.footer {
  background-color: #f7d599;
  height: 150px;
}

.footer .container {
  margin-bottom: 10px;
}

.footer h3 {
  padding: 5px;
}

.footer #location {
  padding: 5px;
  margin-top: 10px;
}

.footer #services {
  padding: 5px;
  margin-top: 10px;
}

.footer #services li {
  list-style: none;
}

.footer #contact {
  padding: 5px;
  margin-top: 10px;
}

.footer #contact li {
  list-style: none;
}

.footer .copyright {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */