<div class="container">
  <div class="row">
    <div class="col-sm-12 signup_card">
      <div class="container_signup">
        <p class="container_signup-header">TODO APP</p>
        <p class="container_signup-info">Let's get started</p>
        <p class="container_signup-text">
          Create an account to get started with TODO APP
        </p>
        <form
          class="container_signup-form"
          [formGroup]="signupForm"
          (ngSubmit)="signup()"
        >
          <div class="form-group form__group">
            <label class="field_label" for="username">Name</label><br />
            <i class="material-icons left-icon">person</i>
            <input
              type="text"
              [class.is-invalid]="
                signupForm.get('username')!.invalid &&
                signupForm.get('username')!.touched
              "
              id="username"
              name="username"
              formControlName="username"
              class="form-control"
              placeholder="Your Name"
            />

            <div
              *ngIf="
                signupformcontrol['username'].invalid &&
                signupformcontrol['username'].touched
              "
            >
              <small
                class="text-danger"
                *ngIf="
                  signupformcontrol['username'].errors &&
                  signupformcontrol['username'].errors['required']
                "
                >Username is required</small
              >
              <small
                class="text-danger"
                *ngIf="
                  signupformcontrol['username'].errors &&
                  signupformcontrol['username'].errors['forbiddenName']
                "
              >
                '{{
                  signupformcontrol["username"].errors["forbiddenName"].value
                }}' username not allowed</small
              >
            </div>
          </div>
          <div class="form-group form__group">
            <label class="field_label" for="gender">Gender</label>
            <div class="gender-option">
              <div class="form-check">
                <input
                  [class.is-invalid]="
                    signupForm.get('gender')!.invalid &&
                    signupForm.get('gender')!.touched
                  "
                  class="form-check-input"
                  value="male"
                  type="radio"
                  name="gender"
                  formControlName="gender"
                  id="gender1"
                  checked
                />
                <label class="form-check-label" for="gender1"> Male </label>
              </div>
              <div class="form-check">
                <input
                  [class.is-invalid]="
                    signupForm.get('gender')!.invalid &&
                    signupForm.get('gender')!.touched
                  "
                  formControlName="gender"
                  class="form-check-input"
                  value="female"
                  type="radio"
                  name="gender"
                  id="gender2"
                />
                <label class="form-check-label" for="gender2"> Female </label>
              </div>
              <div class="form-check">
                <input
                  [class.is-invalid]="
                    signupForm.get('gender')!.invalid &&
                    signupForm.get('gender')!.touched
                  "
                  class="form-check-input"
                  value="others"
                  formControlName="gender"
                  type="radio"
                  name="gender"
                  id="gender3"
                />
                <label class="form-check-label" for="gender3"> Others </label>
              </div>
            </div>
          </div>

          <div class="form-group form__group">
            <label class="field_label" htmlFor="date">DOB</label><br />
            <i class="material-icons left-icon">today</i>
            <input
              [class.is-invalid]="
                signupForm.get('dob')!.invalid && signupForm.get('dob')!.touched
              "
              class="field form-control"
              type="text"
              name="dob"
              id="dob"
              autoComplete="off"
              formControlName="dob"
              required
              onfocus="(this.type='date')"
              placeholder="Select your Date of Birth"
            />
            <div
              *ngIf="
                signupformcontrol['dob'].invalid &&
                signupformcontrol['dob'].touched
              "
              class="error-message"
            >
              <div
                *ngIf="
                  signupformcontrol['dob'].errors &&
                  signupformcontrol['dob'].errors['required']
                "
              >
                <i class="fas fa-exclamation-circle"></i>Date of Birth is
                required
              </div>
            </div>
          </div>
          <div class="row phone-field">
            <label class="field_label_phone" htmlFor="phone">Phone</label>
            <div class="col-4">
              <select class="form-select">
                <i class="fas fa-flag"></i>
                <option class="form-control" selected>
                  Nep +977 &nbsp;&nbsp;
                </option>
                <option class="form-control" value="1">+966</option>
                <option class="form-control" value="2">+555</option>
                <option class="form-control" value="3">+444</option>
              </select>
            </div>
            <div class="col-8">
              <div class="form-group form__group">
                <i class="material-icons left-icon">call</i>
                <input
                  [class.is-invalid]="
                    signupForm.get('phone')!.invalid &&
                    signupForm.get('phone')!.touched
                  "
                  class="field form-control"
                  type="tel"
                  name="phone"
                  id="phone"
                  autoComplete="off"
                  required
                  formControlName="phone"
                  placeholder="1234567890"
                />
                <div
                  *ngIf="
                    signupformcontrol['phone'].invalid &&
                    signupformcontrol['phone'].touched
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      signupformcontrol['phone'].errors &&
                      signupformcontrol['phone'].errors['required']
                    "
                  >
                    Phone is required
                  </div>
                  <div
                    *ngIf="
                      signupformcontrol['phone'].errors &&
                      signupformcontrol['phone'].errors['pattern']
                    "
                  >
                    Please enter a valid phone number.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group form__group">
            <label class="field_label" htmlFor="email">Email address</label
            ><br />
            <i class="material-icons left-icon">email</i>
            <input
              [class.is-invalid]="
                signupForm.get('email')!.invalid &&
                signupForm.get('email')!.touched
              "
              class="field form-control"
              type="email"
              name="email"
              id="email"
              autoComplete="off"
              pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
              required
              formControlName="email"
              placeholder="example@example.com"
            />
            <div
              *ngIf="
                signupformcontrol['email'].invalid &&
                signupformcontrol['email'].touched
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  signupformcontrol['email'].errors &&
                  signupformcontrol['email'].errors['required']
                "
              >
                Email is required
              </div>
              <div
                *ngIf="
                  signupformcontrol['email'].errors &&
                  signupformcontrol['email'].errors['pattern']
                "
              >
                Invalid Pattern
              </div>
            </div>
          </div>

          <app-button
            text="Next"
            (btnClick)="submitButton()"
            [disabled]="signupForm.invalid"
          ></app-button>

          <p class="registered_user">
            Already have an account ?&nbsp;<a class="_login" routerLink="/login"
              >Login</a
            >
          </p>
        </form>
      </div>
      <div class="container_signup_image">
        <img
          src="../../../assets/images/signup.svg"
          alt="signin-image"
          class="signup_image"
        />
      </div>
    </div>
  </div>
</div>
