@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";
.signup-card {
  @include card-body;
  min-height: 790px;
  margin-bottom: 50px;
  width: 780px;
}

.container-signup {
  @include side-form;
  &-header {
    @include fontstyles;
    @include form-header;
  }
  &-info {
    @include form-header-info;
    @include fontstyles;
  }
  &-text {
    @include fontstyles;
    @include form-header-text;
  }
  &-form {
    .form-group {
      @include form-group;
    }
    .left-icon {
      color: $text-color;
      position: absolute;
      padding: 10px;
    }
    .password-icon {
      position: absolute;
      padding: 10px;
    }
    .form-control {
      @include form-control;
    }
    .gender-option {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      padding: 2px 2px;
      width: 55%;
      .form-check-input {
        color: $primary-color;
      }
    }
    .form-select {
      margin-top: 16px;
      margin-right: 10px;
      margin-left: -4px;
    }
    .field-label-phone {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      margin-top: 2px;
      margin-bottom: -12px;
      padding-left: 12px;
    }
    .field-label {
      @include field-label;
    }
    .forgot-password {
      color: $primary-color;
      text-align: right;
      padding: 3px;
      width: 90%;
    }
    .phone-field {
      padding-left: 5px;
      margin-top: 6px;
      width: 100%;
    }
    .error-message {
      color: $primary-color;
      font-size: 13px;
      line-height: 21px;
      padding: 7px;

      i {
        padding: 5px;
      }
    }
    .registered-user {
      @include form-query;
      .-login {
        color: $primary-color;
        cursor: pointer;
        padding: 3px;
      }
    }
  }
}

.container-signup-image {
  @include side-image;
}
