@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

.password-card {
  @include card-body;
  min-height: 628px;
  width: 768px;
}

.container-password {
  @include side-form;

  &-header {
    @include fontstyles;
    @include form-header;
  }

  &-info {
    @include form-header-info;
    @include fontstyles;
  }

  &-text {
    @include fontstyles;
    @include form-header-text;
  }

  &-form {
    .form-group {
      @include form-group;
    }

    .left-icon {
      position: absolute;
      padding: 10px;
    }

    .right-icon {
      @include icon-button;
      color: $text-color;
      padding: 10px;
    }

    .right-icon-success {
      @include icon-button;
      color: green;
    }

    .right-icon-invalid {
      @include icon-button;
      color: red;
    }

    .password-icon {
      @include icon-button-password;
      padding-right: 10px;
    }

    .form-control {
      @include form-control;
      width: 92%;
    }

    .gender-option {
      display: flex;
      flex-direction: row;
      font-size: 16px;
      padding: 10px;
      justify-content: space-between;
      width: 80%;

      .form-check-input {
        color: $primary-color;
      }
    }

    .form-select {
      margin-top: 15px;
    }

    .field-label {
      @include field-label;
    }

    .error-message {
      color: $primary-color;
      font-size: 13px;
      line-height: 21px;
      padding: 4px;

      i {
        padding: 3px;
      }
    }
    .error-message-pattern {
      color: green;
      font-size: 13px;
      line-height: 21px;
      padding: 4px;
      i {
        padding: 3px;
      }
    }

    .new-user {
      @include form-query;

      .create-account {
        color: $primary-color;
        cursor: pointer;
        padding: 3px;
      }
    }
  }
}

.container-password-image {
  @include side-image;
}
