<div class="container">
  <div class="row">
    <div class="col-md-12 password_card">
      <div class="container_password">
        <p class="container_password-header">TODO APP</p>
        <p class="container_password-info">Welcome to TODO APP</p>
        <p class="container_password-text">Set your password</p>
        <form
          class="container_password-form"
          [formGroup]="setpasswordForm"
          (ngSubmit)="setPassword()"
        >
          <div class="form-group form__group">
            <label class="field_label" htmlFor="password">Password</label><br />
            <i class="material-icons left-icon">lock</i>
            <fa-icon
              [icon]="!showpassword ? faEyeSlash : faEye"
              class="right-icon"
              (click)="showhidePassword()"
            ></fa-icon>
            <input
              type="password"
              id="password"
              name="password"
              formControlName="password"
              class="form-control"
              placeholder="Password"
            />
            <div *ngIf="form['password'].invalid && form['password'].touched">
              <small
                class="text-danger"
                *ngIf="
                  form['password'].errors && form['password'].errors['required']
                "
                >Password is required</small
              >
              <p
                class="text-danger"
                *ngIf="
                  form['password'].errors &&
                  form['password'].errors['minlength']
                "
              >
                <i class="fas fa-exclamation-circle"></i>&nbsp;Password must be
                at least 8 characters
              </p>
            </div>
          </div>
          <div class="form-group form__group">
            <label class="field_label" htmlFor="password"
              >Confirm Password</label
            ><br />
            <i class="material-icons left-icon">lock</i>
            <fa-icon
              [icon]="!showconfirmpassword ? faEyeSlash : faEye"
              class="right-icon"
              (click)="showhideconfirmPassword()"
            ></fa-icon>
            <input
              type="password"
              id="confirmpassword"
              name="confirmpassword"
              formControlName="confirmpassword"
              class="form-control"
              placeholder="Confirm Password"
            />
            <div
              *ngIf="
                form['confirmpassword'].invalid &&
                form['confirmpassword'].touched
              "
            >
              <small
                class="text-danger"
                *ngIf="
                  form['confirmpassword'].errors &&
                  form['confirmpassword'].errors['required']
                "
                ><i class="fas fa-exclamation-circle"></i>Confirm Password is
                required</small
              >
              <p
                class="text-danger"
                *ngIf="
                  form['confirmpassword'].errors &&
                  form['confirmpassword'].errors['mustMatch']
                "
              >
                <i class="fas fa-exclamation-circle"></i>Passwords do not match
              </p>
            </div>
          </div>
          <!-- <button class="login_btn">Login</button> -->
          <app-button
            width="410px"
            text="Set Password"
            (btnClick)="submitButton()"
            [disabled]="setpasswordForm.invalid"
          ></app-button>

          <div class="new_user">
            <span> Not Registered yet?</span
            ><span class="create_account" routerLink="/register"
              >Create new account</span
            >
          </div>
        </form>
      </div>
      <div class="container_login_image">
        <img
          src="../../../assets/images/To do list-amico 1.png"
          alt="signin-image"
          class="login_image"
        />
      </div>
    </div>
  </div>
</div>
